* {
    padding: 0;
    margin: 0;
}
html {
    width: 327px;
    height: 55px;
}
body {
    padding: 5px;
    background: #EBEFF9;
}
ul {
    height: auto;
    padding-inline-start: 2px;
    margin-block-start: 5px;
    margin-block-end: 0px;
}
ul li {
    list-style: none;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #379890;
}
ul li:hover {
    cursor: pointer;
    color: #b53ab7;
}
fieldset {
    user-select: none;
    -webkit-user-select: none;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    border-style: groove;
}
fieldset#option legend {
    text-align: center;
}
.embed-c {
    position: relative;
    top: 2px;
}
label, input {
    /*user-select: none;
    -webkit-user-select: none;*/
    cursor: pointer;
}
.lgH2 {
    color: #b53ab7;
}
.topheader {
    display: inline-block;
    width: auto;
    margin-left: 5px;
    border-radius: 4px;
    border: 1px solid #b53ab7;
}
.oprBtn {
    display: block;
    padding: 0px 2px 0px 3px;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    color: #009688;
    /*    -webkit-user-select: none;
    user-select: none;*/
}
.oprBtn:hover {
    color: #b53ab7;
}
.bs_switch {
    width: 46px;
    height: 22px;
    box-sizing: border-box;
    position: relative;
    background: #cccccc;
    border: 1px solid #dfdfdf;
    border-radius: 16px;
    line-height: 20.5px;
    text-align: center;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}
.bs_switch:active, .bs_switch:visited {
    outline: none;
}
.bs_switch:before {
    content: attr(data-off);
    position: absolute;
    top: 0;
    left: 1px;
    padding-left: 13px;
    border-radius: 15px;
    background-color: #cccccc;
    color: #fff;
    font-size: 12px;
}
.bs_switch:after {
    content: " ";
    position: absolute;
    top: 4px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s;
}
.bs_switch:checked {
    border-color: #0c66ff;
    background-color: #0c66ff;
}
.bs_switch:checked:after {
    transform: translateX(28px);
}
.bs_switch:checked:before {
    content: attr(data-on);
    padding-left: 0px;
    padding-left: 2px;
    background-color: #0c66ff;
    color: #fff;
    width: 24px;
}
.input_wrapper {
    width: 80px;
    height: 40px;
    position: relative;
    cursor: pointer;
}
.input_wrapper input[type="checkbox"] {
    width: 80px;
    height: 40px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #315e7f;
    border-radius: 2px;
    position: relative;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.input_wrapper input[type="checkbox"]:after {
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 34px;
    height: 34px;
    background: #dfeaec;
    z-index: 2;
    border-radius: 2px;
    -webkit-transition: all .35s;
    transition: all .35s;
}
.input_wrapper svg {
    position: absolute;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    fill: #fff;
    -webkit-transition: all .35s;
    transition: all .35s;
    z-index: 1;
}
.input_wrapper .is_checked {
    width: 18px;
    left: 18%;
    -webkit-transform: translateX(190%) translateY(-30%) scale(0);
    transform: translateX(190%) translateY(-30%) scale(0);
}
.input_wrapper .is_unchecked {
    width: 15px;
    right: 10%;
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}
/* Checked State */

.input_wrapper input[type="checkbox"]:checked {
    background: #23da87;
}
.input_wrapper input[type="checkbox"]:checked:after {
    left: calc(100% - 37px);
}
.input_wrapper input[type="checkbox"]:checked+.is_checked {
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}
.input_wrapper input[type="checkbox"]:checked~.is_unchecked {
    -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
    transform: translateX(-190%) translateY(-30%) scale(0);
}
#onlyBtn, #neverBtn {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #379890;
    background: white;
    height: 25px;
    color: #379890;
    padding: 5px;
    line-height: 5px;
}
#onlyBtn:hover {
    color: #b53ab7;
}
#neverBtn:hover {
    color: #b53ab7;
}

textarea {
    font-size: 15px;
    text-wrap: nowrap;
}
/*textarea:focus {  
    outline: none;  如果需要的话，去除默认的聚焦轮廓   
    border: 2px solid #0091ea;   
}*/